{
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "plugins": ["flowtype"],
  "settings": {
    "import/core-modules": ["react", "config", "prop-types"]
  },
  "globals": {
    "graphql": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
